body {
  background-color: rgb(214, 214, 214);
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.input[type="checkbox"] {
  -webkit-appearance: none;
  background-color: rgb(255, 255, 255);
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  border-radius: 10rem;
  cursor: pointer;
  height: 2rem;
  outline: none;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 5rem;
}

.input[type="checkbox"]::before {
  background-color: rgb(51, 51, 51);
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  border-radius: 10rem;
  content: '';
  height: 2rem;
  left: 0;
  position: absolute;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 2rem;
}

.input[type="checkbox"]:checked {
  background: rgb(51, 51, 51);
}

.input[type="checkbox"]:checked::before {
  background: rgb(255, 255, 255);
  left: 60%;
}
