@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  not all,
  only screen and (min-resolution: 1.25dppx),
  only screen and (min-resolution: 200dpi) {
  body,
  html {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

@media screen and(max-width: 945px) {
  .header {
    padding: 0;
    margin: initial 0;
    nav a {
      font-size: clamp(10px, 1.5vw, 0.9rem);
      padding: 0;
    }
    div strong {
      font-size: clamp(1rem, calc(1rem + 1vw), 1.5rem);
    }
    div img {
      max-width: 3rem;
    }
    a img {
      max-width: 0.8rem;
    }
  }
}

@media screen and(max-width: 750px) {
  .header {
    nav {
      display: none;
    }
    div strong {
      font-size: clamp(1rem, calc(1rem + 1vw), 1.5rem);
    }
    div img {
      max-width: 40%;
    }
  }
  .main {
    grid-template-columns: 1fr;
    gap: 20px 0;
    grid-template-areas:
      'buy'
      'content'
      'continents'
      'feedback'
      'step'
      'sumary'
      'quotes'
      'book'
      'payment';
  }
  .main .card-buy-now {
    margin: $margin-components 0;
  }
  .main .right-video {
    padding: 0 0;
    grid-area: content;
    max-width: 40rem;
  }
  .feedback-container {
    grid: auto-flow / 1fr;
    padding: 0 30px;
    gap: calc(#{$gap-desktop + $gap-mobile});
    margin: $margin-desktop 0;
  }
  .sumary {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 50px;
    grid-template-areas:
      'learn'
      'included';
    gap: $gap-mobile;
    margin: $margin-mobile 0 0 0;
    .included {
      margin: $margin-desktop 0;
    }
    .sumary-last-separator {
      grid-area: 3 / 1 / 3 / 2;
    }
  }
  .feedback-container {
    margin: calc(#{$margin-desktop + 30px}) 0 0 0;
    padding: 0;
  }
  .step-container {
    margin: $margin-mobile 0 0 0;
  }
  .price-container {
    grid-template-columns: 1fr;
  }
  .copyright {
    grid-area: 10 / 1 / 11 / 4;
  }
}

@media screen and(max-width: 630px) {
   .main .right-video {
    padding: 0 0;
    grid-area: content;
    max-width: 15rem;
  }
  .header nav {
    display: none;
  }
  .quotes-container {
    margin: $margin-mobile 0;
    grid: auto-flow / 1fr;
    gap: $gap-mobile;
    p {
      margin: 1rem 0;
    }
  }
  .book-container {
    margin: $margin-mobile 0;
  }
  .main .card-buy-now {
    padding: 0 0;
    margin: $margin-mobile 0;
  }
  .feedback-container {
    margin: calc(#{$margin-desktop + 30px}) 0 0 0;
    padding: 0;
  }
  .step-container {
    margin: $margin-mobile 0 0 0;
  }
  .book-container {
    img {
      max-width: 50%;
    }
  }
}

@media screen and(max-width: 460px) {
  .step {
    display: grid;
    justify-content: center;
  }
  .step-container {
    margin: $margin-mobile 0;
  }
  .step-container .step {
    padding: 0;
    margin: 0.625em 0 2rem 0;
  }
  .step-container .step figure {
    place-items: start center;
    img {
      max-width: 90%;
    }
  }
  .main {
    margin: 0 10px;
    padding: 0 10px;
  }
  .container-continents {
    padding: 1px;
    margin: $margin-mobile 0 0 0;
    .continents {
      padding: 10px;
    }
  }
  .feedback-container {
    margin: calc(#{$margin-desktop + 30px}) 0 0 0;
    padding: 0;
  }
  .step-container {
    margin: $margin-mobile 0 0 0;
  }
  .sumary .learn ul li {
    padding: 0;
    &::before {
      top: 12px;
      left: -14px;
    }
  }
}
