@import './mixins', './variables';
@import './media';

@include reset();
@include selection();

body {
  background: #16171d;
  width: 100%;
  height: -webkit-fill-available;
  font-family: $font-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  line-height: 1;
}

body,
html {
  -webkit-font-smoothing: antialiased;
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
  background-color: #16171d;
  border-left: 1px solid #16171d;
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background-color: #b86bfd;
  border-radius: 10rem;
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #b86bfd;
}

/*  styles */
.wrapper {
  width: 75rem;
  min-height: 100vh;
  height: 100vh;
  display: grid;
  gap: $margin-desktop;
  grid: auto 1fr auto / 1fr 1fr;
  grid-template-areas:
    'header header'
    'main main'
    'footer footer';
}

.header {
  grid-area: header;
  display: flex;
  margin: $margin-desktop calc(#{$margin-desktop + 10px}) 0 $margin-desktop;
  place-content: start space-between;
  place-items: center;
  color: #fff;
  div {
    display: flex;
    align-items: center;
    strong {
      margin: 0 0 0 calc(#{$margin-desktop - 10px});
      font-size: $font-size-logo;
    }
  }
  nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    flex-flow: row nowrap;
  }
  @include navListEffect();
  .twitter {
    max-width: 100%;
    fill: #fefefe;
    svg {
      height: 1rem;
      max-width: 4rem;
    }
  }
  .github {
    max-width: 100%;
    fill: #fefefe;
    svg {
      height: 1rem;
      max-width: 4rem;
    }
  }
}

.main {
  grid-area: main;
  max-width: 75rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $gap-mobile;
  margin: 0 $margin-desktop;
  grid-template-areas:
    'buy content'
    'continents continents'
    'feedback feedback'
    'step step'
    'sumary sumary'
    'quotes quotes'
    'book book'
    'payment payment';
}

.card-buy-now {
  margin: 13rem 0 0 0;
  grid-area: buy;
  color: #fff;
  text-align: start;
  max-width: 100%;
  .title {
    font-size: $font-size-title;
    line-height: 3rem;
  }
  .sub-title {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    font-weight: 500;
    align-items: center;
    font-size: $font-size-logo;
    color: rgba(102, 102, 102, 0.9);
    a {
      color: #b86bff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      color: #ed2251;
    }
  }
  .border {
    display: block;
    border-radius: 4px;
    height: 1.8px;
    background: #b86bff;
    margin: 30px 0;
    max-width: 5rem;
  }
  .learn {
    max-width: 25rem;
    line-height: 1.5rem;
    font-weight: 600;
    font-size: $font-size-logo;
    color: rgba(179, 179, 179, 0.9);
  }
  .buybook {
    margin-top: $margin-desktop;
  }
  .button {
    margin-top: $margin-desktop;
    font-family: $font-primary;
    button {
      padding: calc(#{$padding-desktop - 10px});
      font-size: $font-size-logo;
      font-weight: 600;
      outline: none;
      border: none;
      margin: 10px 0;
      border-radius: 4px;
      cursor: pointer;
      width: 13rem;
      color: rgba(51, 51, 51, 0.9);
    }
    button:nth-child(odd) {
      background: #2dc25c;
      color: #fefefe;
      margin-right: calc(#{$margin-desktop - 10px});
    }
  }
}

.main .right-video {
  grid-area: content;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 11rem 0 0 0;
  img {
    max-width: 50%;
    opacity: 0.8;
  }
  video {
    margin-top: 10px;
    max-width: 100%;
    border-radius: 10px;
  }
}

.container-continents {
  margin: $margin-components 0 0 0;
  grid-area: continents;
  display: grid;
  place-items: center;
}

.continents {
  background: rgba(245, 196, 0, 0.1);
  padding: $padding-desktop;
  border: 2px solid #e9d733;
  border-radius: 10px;
  transition: 0.3s ease-in-out all;
  a {
    color: #fefefe;
    font-size: $font-size-logo;
    text-decoration: none;
    padding: $padding-mobile;
  }
  &:hover {
    border-color: rgb(49, 195, 98);
  }
}

.feedback-container {
  grid-area: feedback;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: flex-start;
  justify-content: flex-start;
  gap: calc(#{$gap-desktop + 50px});
  margin: $margin-components 0;
  .feedback-item {
    color: #fff;
    h1 {
      font-size: $font-size-logo;
      font-weight: 500;
    }
    p {
      margin-top: $margin-mobile;
      color: #696b8c;
      font-size: $font-size-logo;
      strong {
        color: #fefefe;
      }
    }
    .name {
      color: #43e594;
    }
    .second-name {
      color: #24b1d1;
    }
  }
}

.step-container {
  grid-area: step;
  margin-top: $margin-components;
  .hr-top,
  .hr-bottom {
    grid-area: hr;
    display: block;
    background: $color-separator;
    height: 3px;
    margin: 1.2rem 0 0 0;
    border: none;
  }
  .step {
    display: flex;
    flex-flow: column;
    margin: $margin-desktop 0 calc(#{$margin-desktop + 20px}) 0;
    h2 {
      font-weight: 500;
      margin: $margin-mobile 0 calc(#{$margin-desktop + 10px}) 0;
    }
    span {
      font-size: $font-size-logo;
      color: #fefefe;
      box-shadow: inset 0 -6px 0 rgba(184, 107, 255, 0.2);
    }
    figure {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, auto));
      img {
        max-width: 13rem;
        padding: calc(#{$padding-mobile - 10px});
        border-radius: 15px;
      }
    }
  }
}

.sumary {
  grid-area: sumary;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 50px;
  grid-template-areas: 'learn included';
  gap: calc(#{$gap-desktop + 30px});
  padding: 0 $padding-mobile;
  margin-top: 5rem;
  h2 span {
    font-weight: 500;
    font-size: $font-size-logo;
    color: #fefefe;
    box-shadow: inset 0 -6px 0 rgba(184, 107, 255, 0.2);
  }
  .learn {
    grid-area: learn;
    line-height: 2rem;
    ul {
      list-style: none;
      margin: $margin-desktop 0 0 $margin-mobile;
      li {
        position: relative;
        font-size: $font-size-logo;
        font-weight: 500;
        padding-left: $padding-mobile;
        color: #777777;
        strong {
          color: #fefefe;
          font-size: $font-size-logo;
        }
      }
      li::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        top: 14px;
        left: 0;
        transform: rotate(45deg);
        transform-origin: center;
        border-radius: 2px;
        border: 2px solid transparent;
      }
      li[name='primary']::before {
        border-right-color: #ff470f;
        border-top-color: #ff470f;
      }
      li[name='secondary']::before {
        border-right-color: #3273dc;
        border-top-color: #3273dc;
      }
      li[name='third']::before {
        border-right-color: #48c774;
        border-top-color: #48c774;
      }
    }
  }
  .included {
    grid-area: included;
    h2 {
      font-size: $font-size-logo;
    }
    aside {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      h3 {
        font-size: $font-size-logo;
        color: #fefefe;
      }
      p {
        font-weight: 500;
        color: #777777;
      }
      img {
        max-width: 3rem;
        margin: 0 1rem 0 0;
      }
      img[name='second'] {
        max-width: 3rem;
      }
    }
    aside:nth-last-child(4) {
      margin-top: calc(#{$margin-desktop + 20px});
    }
    aside p {
      font-size: $font-size-logo;
      line-height: 1.2rem;
    }
    aside + aside {
      margin: $margin-mobile 0;
    }

    .deluxe-container {
      position: relative;
      padding: 40px 40px 40px 30px;
      border: 1px solid #3273dc;
      border-radius: 8px;
      border-style: dotted;
      span {
        position: absolute;
        font-size: $font-size-logo;
        top: 10px;
        right: 20px;
        color: #3273dc;
      }
      .deluxe-separator {
        display: block;
        margin: $margin-desktop 0;
        height: 3px;
        border: none;
        background: $color-separator;
      }
    }
  }
  .sumary-last-separator {
    grid-area: 2 / 1 / 2 / 4;
    display: block;
    height: 3px;
    margin: $margin-desktop 0 0 0;
    border: none;
    background: $color-separator;
  }
}

.quotes-container {
  grid-area: quotes;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(#{$gap-desktop + 30px});
  margin: $margin-components 0 0 0;
  padding: 0 $padding-desktop;

  .quotes-item-1 {
    h2 {
      font-size: $font-size-logo;
      color: #fefefe;
    }
    p {
      font-size: $font-size-logo;
      margin-top: $margin-mobile;
      color: $color-text;
      strong {
        color: #fefefe;
        font-size: $font-size-logo;
      }
    }
    .name {
      color: #a74ce4;
    }
  }
  .quotes-item-2 {
    p {
      font-size: $font-size-logo;
      color: $color-text;
    }
    p:last-child {
      margin-top: $margin-mobile;
      color: $color-text;
      strong {
        color: #fefefe;
        font-size: $font-size-logo;
      }
    }
  }
}

.book-container {
  grid-area: book;
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: calc(#{$margin-desktop + 50px}) 0 0 0;
  img:nth-child(odd) {
    max-width: 20%;
    fill: $color-text;
    margin: $margin-mobile;
  }
  img {
    max-width: 25%;
  }
  div {
    width: 100%;
  }
  .separator {
    width: 100%;
    display: block;
    margin: $margin-components 0;
    background: $color-separator;
    height: 3px;
    border: none;
    background: $color-separator;
  }
}

.price-container {
  grid-area: payment;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 50px;
  .payment-regular {
    .title {
      color: #fefefe;
      font-size: $font-size-logo;
      span {
        color: #43e594;
        font-weight: 400;
        font-size: $font-size-logo;
      }
    }
    .regular-card {
      margin: $margin-desktop 0 0 0;
      background: #21212c;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      justify-content: center;
      transition: 0.2s ease-in;
      border: 2px solid rgba(0, 0, 0, 0.05);
      transition-property: border-color;
      &:hover {
        border-color: #43e594;
      }
      .payment-botton {
        @include paymentButon();
      }
      .regular-card-separator {
        display: grid;
        hr {
          display: block;
          margin: calc(#{$margin-mobile - 10px}) 0 0 5%;
          max-width: 90%;
          height: 2px;
          border: none;
          background: $color-text;
        }
      }
      .payment-item {
        display: flex;
        padding: $padding-mobile;
        align-items: center;
        img {
          max-width: 10%;
        }
        p {
          font-size: $font-size-logo;
          font-family: $font-primary;
          color: $color-text;
          font-weight: 500;
          margin: 0 $margin-mobile;
        }
        strong {
          color: #fefefe;
        }
      }
    }
    .credit-card {
      margin: $margin-mobile 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-flow: row wrap;
      img {
        margin: $margin-mobile 0;
      }
    }
  }
  .payment-deluxe {
    h2 {
      font-size: $font-size-logo;
      font-weight: 400;
      color: #24b1d1;
      strong {
        color: #fefefe;
      }
    }
    .deluxe-card {
      margin: $margin-desktop 0 0 0;
      background: #21212c;
      border-radius: 5px;
      transition: 0.2s ease-in;
      border: 2px solid rgba(0, 0, 0, 0.05);
      transition-property: border-color;
      padding: $padding-desktop 0;
      &:hover {
        border-color: #24b1d1;
      }
      .deluxe-card-item {
        display: flex;
        align-items: center;
        margin: $margin-mobile 0;
        padding: 0 $padding-mobile;
        img {
          max-width: 10%;
        }
        p {
          font-size: $font-size-logo;
          padding: 0 0 0 $padding-mobile;
          color: $color-text;
          strong {
            color: #fefefe;
          }
        }
      }
      .deluxe-item-container:nth-child(odd) {
        margin: 0;
      }
      .deluxe-galery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, auto));
        grid-template-rows: auto;
        margin: $margin-desktop $margin-mobile;
        gap: 10px;
        img {
          max-width: 100%;
          border-radius: 5px;
        }
      }
    }
  }
  .payment-botton {
    @include paymentButon();
    button {
      background: #24b1d1;
      &:hover {
        background: #2bc0e2;
      }
    }
  }
}

.copyright {
  grid-area: 9 / 1 / 10 / 4;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 8rem 0 0 0;
  color: $color-text;
  p {
    font-size: $font-size-logo;
  }
  a {
    color: #a74ce4;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .copyright-separator {
    display: block;
    margin: 5rem 0 0 0;
    height: 3px;
    width: 100%;
    border: none;
    background: $color-separator;
  }
}

.footer {
  grid-area: footer;
  padding: 0 $padding-desktop;
  margin: 8rem 0 0 0;
  display: grid;
  place-items: center center;
  .title-footer {
    span {
      font-weight: 500;
      font-size: $font-size-title;
      color: #fefefe;
      box-shadow: inset 0 -6px 0 rgba(184, 107, 255, 0.2);
    }
    a {
      color: #fefefe;
      text-decoration: none;
    }
  }
  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 5rem 0;
    width: 100%;
    cursor: pointer;
    svg {
      min-width: 5rem;
      max-width: 5rem;
      margin: 0 30px;
      fill: #3b5998;
    }
  }
  nav {
    a {
      color: #a74ce4;
      text-decoration: none;
      font-size: $font-size-logo;
      padding: 10px;
      text-align: center;
      transition: color 0.3s ease;
      &:hover {
        color: #fefefe;
      }
    }
    span {
      color: $color-text;
      text-align: center;
    }
  }
  .copyright-footer {
    color: $color-text;
    text-align: center;
    margin: 10px 0 0 0;
    font-size: $font-size-text;
  }
  .address {
    p {
      text-align: center;
      margin: 5px 0 0 0;
      color: $color-text;
      font-size: $font-size-text;
    }
  }
  .footer-figure {
    max-width: 20%;
  }
  .footer-figure {
    margin: $margin-mobile 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 100%;
    width: 100%;
    cursor: pointer;
    img:nth-child(odd) {
      min-width: 5rem;
      max-width: 10rem;
      margin: 10px 0 20px 0;
    }
    svg {
      margin: 10px 0 20px 30px;
      min-width: 5rem;
      max-width: 40%;
      fill: #fff;
    }
  }
}

@media screen and(max-width: 980px) {
  .header {
    padding: 0;
    margin: initial 0;
    nav a {
      display: none;
    }
    div img {
      max-width: 3rem;
    }
    a img {
      max-width: 0.8rem;
    }
  }
}

@media screen and(max-width: 750px) {
  .header {
    margin: 50px 15px;
    nav {
      display: none;
    }
    div img {
      max-width: 40%;
    }
  }
  .main {
    margin: 0 15px;
    grid-template-columns: 1fr;
    gap: 20px 0;
    grid-template-areas:
      'buy'
      'content'
      'continents'
      'feedback'
      'step'
      'sumary'
      'quotes'
      'book'
      'payment';
  }
  .main .card-buy-now {
    margin: $margin-components 0;
  }
  .main .right-video {
    padding: 0 0;
    grid-area: content;
    max-width: 40rem;
  }
  .feedback-container {
    grid: auto-flow / 1fr;
    padding: 0 30px;
    gap: calc(#{$gap-desktop + $gap-mobile});
    margin: $margin-desktop 0;
  }
  .sumary {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 50px;
    grid-template-areas:
      'learn'
      'included';
    gap: $gap-mobile;
    margin: $margin-mobile 0 0 0;
    .included {
      margin: $margin-desktop 0;
    }
    .sumary-last-separator {
      grid-area: 3 / 1 / 3 / 2;
    }
  }
  .feedback-container {
    margin: calc(#{$margin-desktop + 30px}) 0 0 0;
    padding: 0;
  }
  .step-container {
    margin: $margin-mobile 0 0 0;
  }
  .price-container {
    grid-template-columns: 1fr;
  }
  .copyright {
    grid-area: 10 / 1 / 11 / 4;
  }
}

@media screen and(max-width: 630px) {
  .header nav {
    display: none;
  }
  .quotes-container {
    margin: $margin-mobile 0;
    grid: auto-flow / 1fr;
    gap: $gap-mobile;
    p {
      margin: 1rem 0;
    }
  }
  .book-container {
    margin: $margin-mobile 0;
  }
  .main .card-buy-now {
    padding: 0 0;
    margin: $margin-mobile 0;
  }
  .feedback-container {
    margin: calc(#{$margin-desktop + 30px}) 0 0 0;
    padding: 0;
  }
  .step-container {
    margin: $margin-mobile 0 0 0;
  }
  .book-container {
    img {
      max-width: 50%;
    }
  }
}

@media screen and(max-width: 460px) {
  .step {
    display: grid;
    justify-content: center;
  }
  .step-container {
    margin: $margin-mobile 0;
  }
  .step-container .step {
    padding: 0;
    margin: 0.625em 0 2rem 0;
  }
  .step-container .step figure {
    place-items: start center;
    img {
      max-width: 90%;
    }
  }
  .main {
    margin: 0 10px;
    padding: 0 10px;
  }
  .container-continents {
    padding: 1px;
    margin: $margin-mobile 0 0 0;
    .continents {
      padding: 10px;
    }
  }
  .feedback-container {
    margin: calc(#{$margin-desktop + 30px}) 0 0 0;
    padding: 0;
  }
  .step-container {
    margin: $margin-mobile 0 0 0;
  }
  .sumary .learn ul li {
    padding: 0;
    &::before {
      top: 12px;
      left: -14px;
    }
  }
}
