@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$font-primary: 'Quicksand', sans-serif;

$margin-desktop: 30px;
$margin-mobile: 20px;
$padding-desktop: 30px;
$padding-mobile: 20px;
$gap-desktop: 30px;
$gap-mobile: 30px;
$margin-components: calc(#{$margin-desktop + 50px});

$color-separator: #262629;
$color-text: #696b8c;

$font-size-logo: clamp(0.9rem, calc(0.5rem + 1vw), 1.2rem);
$font-size-title: clamp(1rem, calc(1rem + 2vw), 2rem);
$font-size-text: clamp(0.625rem, calc(0.3rem + 1vw), 1.2rem);
