/* --- CSS STYLE --- */
@font-face{
  font-family: Gilroy;
    src: url(../../static/fonts/Gilroy/gilroy-light.otf);
}
    
:root {
  --primary-color: rgb(255, 255, 255);
  --primary-color-darker: rgb(9, 48, 56);
  --dosis-font: 'Dosis';
  --gilroy-font: 'Gilroy';
}

/* a cada 1rem será considerado 10px */
html {
  font-size: 62,5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1rem;
  height: 100vh; /* 100% de height não funciona */
}

/* botton background */
.container-body{
  background-repeat: repeat;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 50vh;
  background: rgb(138, 42, 223);
}

/* top background white */
.background{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  background: var(--primary-color);
  width: 100%;
  height: 100%;
}

/* container form */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  padding: 30px;
  width: 30rem;
  z-index: 2;
  border-radius: 6px;
  background: var(--primary-color);
  -webkit-box-shadow: 0 24px 120px rgba(0, 0, 0, 0.2);
  box-shadow: 0 24px 120px rgba(0, 0, 0, 0.2);
}

/* title */
.title-container {
  text-align: center;
  text-decoration: none;
  font-family: var(--gilroy-font);
  font-size: 2.5rem;
  font-weight: 400;
  color: #3f3f3f;
}

/* label title peso and altura */
.label-container, .button-container {
  text-align: center;
  min-width: 100%;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 2.5;
  font-family: var(--gilroy-font);
  color: #525252;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Input float with icon */
.flex-icon-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-icon-input > span {
  position: absolute;
  padding: 15px;
  font-size: 1em;
  color: #525252;
}

/* input weight and height */
.inpt-container {
  width: 100%;
  margin-bottom: 15px;
}

.inpt-container {
  height: 50px;
  padding: 0 20px;
  font-family: var(--gilroy-font);
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  border-style: double;
  border-color: rgb(215, 225, 233);
  border-radius: 6px;
}

.inpt-container:placeholder-shown {
  outline: none;
  font-weight: 100;
}

/* button submit */
.button-container {
  border: none;
  background: rgb(158, 49, 253);
  color: var(--primary-color);
  font-family: var(--gilroy-font);
  font-weight: 500;
  font-size: 1.2em;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 30px;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.button-container:hover {
  opacity: 0.8;
}

/* result calc */
.successful-result {
  background: rgb(138, 42, 223);
  color: var(--primary-color);
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--gilroy-font);
  border-radius: 6px;
}

/* bad error */
.bad {
  background: rgb(241, 86, 125);
  color: var(--primary-color);
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: var(--gilroy-font);
  border-radius: 6px;
}

/* separator title of form */
.rounded-separator{
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  width: 100%;
  opacity: 30%;
}

form {
  margin-top: 1%
}

@media (max-width: 530px){
  .container{
    width: 28rem;
  }
}
@media (max-width: 480px){
  .container {
    width: 25rem;
  }
}
@media (max-width: 430px){
  .container {
    width: 22rem;
  }
  .title-container {
    font-size: 2rem;
  }
}
@media (max-width: 370px){
  .container {
    width: 18rem;
  }
  .title-container {
    font-size: 1.8rem;
  }
}
@media (max-width: 300px){
  .container {
    width: 16rem;
  }
  .title-container {
    font-size: 1.6rem;
  }
}
